
h1,h2,h3 
{ 	margin-left: 565px;
	margin-right: 565px ;
	
	line-height:30px;
	padding:10px;
	
}
p
{	margin-left:575px;
	margin-right:575px;
	line-height:30px;

}
ul
{
	margin-left:585px;
	line-height:30px;

}
hr
{
	margin-left:575px;
	margin-right:575px;
}
body
{
	font-family:Verdana;
	color:444;
	
}


.styled {
    position : absolute;
    top:50%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 1px #000;
    border-radius: 1000px;
    background-color: rgba(0, 1, 220, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(0, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
			}




